.Footer {
    
    
}

.floating-btn {
    background-color: aqua;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    border-radius: 50%;
    font-size: 40px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);

    position:fixed;
    bottom: 0px;
    text-align: center;

    right: 30px;
    bottom: 30px;
}